[submodule "Generator/Dependencies/FileKit"]
	path = Generator/Dependencies/FileKit
url=http://source.brightify.org/scm/forks/filekit.git
[submodule "Generator/Dependencies/SourceKitten"]
	path = Generator/Dependencies/SourceKitten
	url = https://github.com/jpsim/SourceKitten
