[submodule "Generator/Dependencies/FileKit"]
	path = Generator/Dependencies/FileKit
url=https://github.com/brightify/FileKit
[submodule "Generator/Dependencies/SourceKitten"]
	path = Generator/Dependencies/SourceKitten
	url = https://github.com/jpsim/SourceKitten
